<!-- data binding - one way -->
<p>Mijn hobby is {{ hobby }}</p>

<!-- data binding - two way -->
<input type="text" [(ngModel)]="hobby">

<!-- template syntax if -->
@if(hobby == "bla") {
  <p>Dat is een rare hobby</p>
} 
@else {
  <p>Wat een leuke hobby: {{ hobby }}</p>
}

<!-- event binding (click) -->
<input type="text" [(ngModel)]="newPet">
<button (click)="addPet()">Add pet</button>
<!-- template syntax for -->
<ul>
  @for(pet of pets; track pet) {
    <li>{{ pet }}</li>
  } 
  @empty {
    <li>Even rustig in huis</li>
  }
</ul>